<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite" >
    <test name="Chrometests">
        <parameter name="browser" value="chrome" />
        <parameter name="device" value="desktop" />
        <packages>
            <package name="runners.*"/>
        </packages>
    </test>
</suite>
