#
# WebDriver path
#
###
firefox=local_driver/geckodriver.exe
chrome=local_driver/chromedriver.exe

#
# Default execution properties
#
###
headless = false
environment = production
browser = chrome
device = desktop

